= "<?xml version='1.0' encoding='utf-8' ?>"
- site_url = "http://#{data.site.domain}/"
- date_format = ('%Y-%m-%dT%H:%M:%S%Z')
%feed{xmlns: 'http://www.w3.org/2005/Atom'}
  %title{type: 'text'}= data.site.title
  %subtitle{type: 'text'}= data.site.subtitle
  %link{href: current_page.url, rel: "self"}
  %link{href: site_url, rel: "alternate"}
  %id= site_url
  %updated= blog.articles.first.date.strftime(date_format)
  %rights{type: 'text'}= data.site.copyright
  %author
    %name{type: 'text'}= data.site.author.name
    %email{type: 'text'}= data.site.author.email
  - blog.articles[0..10].each do |post|
    %entry
      %title{type: 'text'}= post.title
      %id= URI.join(site_url, post.url)
      %link{href: post.url, rel: "alternate"}
      - post.tags.each do |category|
        %category{term: category}
      %updated= post.date.strftime(date_format)
      %content{type: 'xhtml'}= post.body
