---
pageable: true
layout: page
---
.pagination
  - if next_page
    = link_to 'Older', next_page
  %a(href="/archives/") Blog Archives
  - if prev_page
    = link_to 'Newer', prev_page

- page_articles.each_with_index do |article, i|
  %h1
    = link_to article.title, article
  %p
    = article.date.strftime('%b %e')
  = article.body
